<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <pattern>
          <pattern>
            {
              "level":"%level",
              "logger":"%logger",
              "thread":"%thread",
              "message":"%msg",
              "exception":"%ex",
              "traceId":"%X{traceId}",
              "spanId":"%X{spanId}",
              "app":"${spring.application.name:-sales-service}"
            }
          </pattern>
        </pattern>
        <mdc/>
        <arguments/>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>
